{% extends "myadmin/base.html" %}

{% block mainbody %}  
 
{% if info != ''  %}
    <script type="text/javascript">
        var info = {{ info|safe }}
        alert(info)
    </script>
    {% endif %} 
<div class="control-group">
	 <form id="edit-profile" action="{% url 'myadmin_updateorder' order.id %}" class="form-horizontal" method="post">
	        {% csrf_token %}
	    <fieldset>
            <legend>编辑订单详情信息</legend>
            <label class="control-label" for="input01">状态：</label>
            <div class="controls">
                <input type="radio" name="status" class="input-xlarge" id="input01" value="0" {% if order.status == 0 %}checked {% endif %}/> 待发货 
                <input type="radio" name="status" class="input-xlarge" id="input01" value="1" {% if order.status == 1 %}checked {% endif %}/> 已发货
                <input type="radio" name="status" class="input-xlarge" id="input01" value="2" {% if order.status == 2 %}checked {% endif %}/> 已收货
                <input type="radio" name="status" class="input-xlarge" id="input01" value="3" {% if order.status == 3 %}checked {% endif %}/> 取消订单
            </div>
            </div>                        
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">编辑</button>
        </fieldset>
    </form>
{% endblock %}