{% extends 'myweb/base.html' %}
{% load static from staticfiles %}
{% block 'title' %}
<link rel="stylesheet" type="text/css" href="{% static 'myweb/css/order.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'myweb/css/order-app.css' %}">
{% endblock %}

{% block 'mainbody' %}
    <!-- 主内容区域 -->
    <div class="mainbody order">
		<div class="container">
			<!-- 面包屑导航 -->
			<div class="crumbs col-xs-12 col-sm-12">
				<ol class="breadcrumb">
					<li class="hidden-xs hidden-sm"><a href="{% url 'index' %}">首页</a></li>
					<li class="hidden-xs hidden-sm"><a href="member.html">我的商城</a></li>
					<li class="active">我的订单</li>
				</ol>
			</div><!-- 面包屑导航 E-->
			
			<div class="main clearfix">
				<!-- 左侧导航 -->
				<div class="left-nav f-fl col-md-4 hidden-xs hidden-sm">
					<div class="nav-main">
						<a href="javascript:;" class="type-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>订单中心</a>
						<a href="order.html" class="ml active" >我的订单</a>
						<a href="#" class="ml " >我的回购单</a>
						<a href="#" class="ml " >我的意外保</a>
						<a href="{% url 'member' %}" class="type-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>个人中心</a>
						<a href="{% url 'member' %}" class="ml " >地址管理</a>
						<a href="#" class="ml " >我的收藏</a>
						<a href="#" class="ml " >消息提醒</a>
						<a href="#" class="ml " >建议反馈</a>
					</div>
				</div><!-- 左侧导航 E-->
				<!-- 右侧内容展示 -->
				<div class="right-content f-fr col-md-8 col-xs-12 col-sm-12">
					<div class="order-main">
						<div class="type-tab-btn">
							<a href="javascript:;" class="allOrder  col-20" data-type="-1">全部订单</a><i class="line hidden-xs hidden-sm">|</i>
							<a class="waitPay active col-20" href="javascript:;" data-type="0">待付款<span class="amount _actAmount"></span></a><i class="line hidden-xs hidden-sm">|</i>
							<a class="waitDeliver col-20" href="javascript:;" data-type="1">待发货</a><i class="line hidden-xs hidden-sm">|</i>
							<a class="hasDeliver col-20" href="javascript:;" data-type="2">已发货</a><i class="line hidden-xs hidden-sm">|</i>
							<a class="other col-20" href="javascript:;" data-type="99">其他</a>
						</div>
						<div class="list-head hidden-xs hidden-sm">
                        <ul class="clearfix">
                            <li class="w50">
                                <select id="checkType" class="check-type">
                                    <option value="0">近三个月的订单</option>
                                    <option value="1">全部订单</option>
                                </select>
                                订单明细
                            </li>
                            <li class="w125">售后</li>
                            <li class="w125">金额</li>
                            <li class="w125">状态</li>
                            <li class="w125">操作</li>
                        </ul>
						</div>
						<div id="tableList" class="type-contain ui-load-container">
							<div class="ui-load-content"><input id="unPayNum" value="0" type="hidden">
								<table class="orderItem">
									<tbody>
										<!-- <tr class="trHead hidden-xs hidden-sm">
											<td colspan="4" class="title clearfix">
											  <div class="f-fl">下单时间：<span class="time">2017-09-02 15:36:44</span>订单号：<span class="orderNumber">51090244361541573081</span>
											  </div>
											</td>
										</tr> -->
										<tr class="list-box b-l b-r b-b">
											<td class="list b-r j-iamCart">
												<div class="cart-wrap j-CartWrap">
													<div class="shop j-shop j-amLight">
														{% for shop in request.session.orderlist.values %}
														<div class="item b-t clearfix j-item j-iamMain">
															<a class="productDetail nameWidth col-xs-4 col-sm-4" href="#" target="_blank">
																<img src="/static/myadmin/img/upload/s_{{ shop.picname }}" class="f-fl">
															</a>
															<div class="describe f-fl col-xs-8 col-sm-8">
																<div class="vertic clearfix">
																	<span class="clearfix">
																		<a class="productDetail nameWidth" href="#" target="_blank">
																		<i>{{ shop.goods }}</i> <i class="pro-d">红色</i></a>
																		<p>
																		￥{{ shop.price }}×{{ shop.num }}
																		</p>
																	</span>
																</div>
															</div>
															<input class="orderSn" value="51090244361541573081" type="hidden">
															<input class="isCart" value="1" type="hidden">
															<input class="orderSnSon" value="21090244361541575081" type="hidden">
														</div>
														{% endfor %}
													</div>
												</div>
											</td>
											<td class="b-r w125 center price b-t hidden-xs hidden-sm">
												<div class="priceDiv">
													{{ request.session.total }}
												</div>
											</td>
											<td class="b-r w125 center state b-t hidden-xs hidden-sm">
												<div class="stateDiv">
													   <div>已取消<br></div>
													  
												</div>
											</td>
											<td class="w125 center opreat b-t hidden-xs hidden-sm">
												<ul>
													<li class="more"><a href="#" target="_blank">查看详情</a></li>
												</ul>
											</td>
										</tr>
										<tr>
											<form id="edit-profile" action="{% url 'confirmorder' %}" class="form-horizontal" method="post">
											    {% csrf_token %}
											    <fieldset>
											        <legend>订单信息</legend>
											        <div class="control-group">
											            <label class="control-label" for="input01">收货人</label>
											            <span class="controls">
											                <input type="text" name="linkman" class="input-xlarge" id="input01" value="{{ request.session.myweblogin.name }}" />
											            </span>
											        </div>
											        <div class="control-group">
											            <label class="control-label" for="input01">地址：</label>
											            <sspan class="controls">
											                <input type="text" name="address" class="input-xlarge" id="input01" value="{{ request.session.myweblogin.address }}"/>
											            </sspan>
											        </div>
											        <div class="control-group">
											            <label class="control-label" for="input01">邮编：</label>
											            <span class="controls">
											                <input type="text" name="code" class="input-xlarge" id="input01" value="{{ request.session.myweblogin.code }}"/>
											            </span>
											        </div>
											        <div class="control-group">
											            <label class="control-label" for="input01">电话：</label>
											            <ssspan class="controls">
											                <input type="text" name="phone" class="input-xlarge" id="input01" value="{{ request.session.myweblogin.phone }}"/>
											            </ssspan>
											        </div>
											        <span class="form-actions">
											            <button type="submit" class="btn btn-primary">购买</button> <button type="reset" class="btn">重置</button>
											        </span>
											    </fieldset>
											</form>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
    <!-- 主内容区域 E-->
	<script type="text/javascript">//回顶部
      		backTop();
	</script>
{% endblock %}