{% extends "myadmin/base.html" %}

{% block mainbody %}
    {% if info != ''  %}
    <script type="text/javascript">
        var info = {{ info|safe }}
        alert(info)
    </script>
    {% endif %}    
    <h4>
        商品信息管理
    </h4>
    <form action="{% url 'myadmin_goodsindex' pIndex %}" method="get">
            <select name="typeid">
                <option value="">全部</option>
                {% for vo in typelist %}
                <option  
                    {% if vo.id == request.GET.typeid %}
                        selected
                    {% endif %}
                     value="{{ vo.id }}">{{ vo.name }}
                </option>
                {% endfor %}
            </select>
            <!--  -->
                商品名称：<input type="text" size="6" name="goods" value="{{ request.GET.goods }}"/>
                <input type="submit" value="搜索"/>
        </form>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>id号</th>
                <th>商品名称</th>
                <th>商品类别</th>
                <th>生产厂家</th>
                <th>简介</th>
                <th>图片</th>
                <th>单价</th>
                <th>状态</th>
                <th>库存量</th>
                <th>被购买数量</th>
                <th>点击次数</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for vo in goodslist %}
            <tr>
                <td>{{ vo.id }}</td>
                <td>{{ vo.goods }}</td>
                <td>{{ vo.typename }}</td>
                <td>{{ vo.company }}</td>
                <td>{{ vo.descr }}</td>
                <td><img src="/static/myadmin/img/upload/s_{{ vo.picname }}" alt=""></td>
                <td>{{ vo.price }}</td>
                <td>{% if vo.state == 1 %}新添加{% elif vo.state == 2 %}在售{% else %}下架{% endif %}</td>
                <td>{{ vo.store }}</td>
                <td>{{ vo.num }}</td>
                <td>{{ vo.clicknum }}</td>
                <td>{{ vo.addtime }}</td>
                <td>
                    <a href="{% url 'myadmin_goodsdel' vo.id %}" class="view-link">删除</a>
                    <a href="{% url 'myadmin_goodsedit' vo.id %}" class="view-link">编辑</a>
                    <a href="{% url 'myadmin_recommend' vo.id %}" class="view-link">推荐</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>                
    <div class="pagination">
        <ul>
            <li class="disabled">
                <a href="#">&laquo;</a>
            </li>
            {% for pindex in plist %}
                {% if pIndex == pindex %}
                <li class="active">
                    <a href="{{ pIndex }}?{{ where|join:'&' }}">{{ pIndex }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ pindex }}?{{ where|join:'&' }}">{{ pindex }}</a>
                </li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
{% endblock %}