{% extends 'myweb/base.html' %}
{% load static from staticfiles %}
{% block 'title' %}
<link rel="stylesheet" type="text/css" href="{% static 'myweb/css/member.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'myweb/css/member-app.css' %}">
{% endblock %}

{% block 'mainbody' %}
    <!-- 主内容区域 -->
    <div class="mainbody order">
		<div class="container">
			<!-- 面包屑导航 -->
			<div class="crumbs ">
				<ol class="breadcrumb">
					<li class="hidden-xs hidden-sm"><a href="{% url 'index' %}">首页</a></li>
					<li class="active"><a href="{% url 'list' 1 %}">我的商城</a></li>
				</ol>
			</div><!-- 面包屑导航 E-->
			
			<div class="main clearfix">
				<!-- 左侧导航 -->
				<div class="left-nav f-fl hidden-xs hidden-sm">
					<div class="nav-main">
						<a href="javascript:;" class="type-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>订单中心</a>
						<a href="{% url 'myorder' %}" class="ml" >我的订单</a>
						<a href="#" class="ml " >我的回购单</a>
						<a href="#" class="ml " >我的意外保</a>
						<a href="{% url 'member' %}" class="type-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>个人中心</a>
						<a href="#" class="ml " >地址管理</a>
						<a href="#" class="ml " >我的收藏</a>
						<a href="#" class="ml " >消息提醒</a>
						<a href="#" class="ml ">建议反馈</a>
					</div>
				</div><!-- 左侧导航 E-->
				<!-- 右侧内容展示 -->
				<div class="right-content f-fr col-xs-12 col-sm-12">
					<div class="index-main">
						<div class="top clearfix">
							<div class="information clearfix f-fl col-xs-12 col-sm-12">
								<div class="pic f-fl">
								  <img src="{% static 'myweb/img/member/m01.jpg' %}" alt="">
								</div>
								<div class="name f-fl">
									<span>{{ request.session.myweblogin.username }}</span>
									<span>欢迎您回来！</span>
								</div>
								<div class="info f-fl">
									<ul>
										<li>Flyme账号：<span></span></li>
										<li>绑定手机号：<span>{{ request.session.myweblogin.phone }}</span></li>
										<li class="emailText">绑定邮箱：<span>{{ request.session.myweblogin.email }}</span></li>
									</ul>
									<a class="edit" href="{% url 'editmember' %}" target="_blank">修改个人信息 &gt;</a>
								</div>
							</div>
							<div class="backCouponNum f-fl col-xs-12 col-sm-12">
								<p>回购券：<span>0</span></p>
							</div>
						</div>
						<div class="bottom clearfix">
							<div class="orderState f-fl col-xs-12 col-sm-12">
								<div class="title clearfix">
									<span class="f-fl">订单状态</span>
									<a class="detail f-fr" href="{% url 'myorder' %}">查看全部订单 &gt;</a>
								</div>
								<div class="content">
									<div class="waitPay clearfix">
										<span class="f-fl cercl">
											<span class="glyphicon glyphicon-folder-open iconfont" aria-hidden="true"></span>
										</span>
										<div class="text f-fl">
											<p>待付款订单：<span class="num">{{ num2 }}</span></p>
											<a class="detail" href="{% url 'myorder' %}">查看全部已发货订单 &gt;</a>
										</div>
									</div>
									<div class="waitDeliver clearfix">
										<span class="f-fl cercl">
											<span class="glyphicon glyphicon-folder-close iconfont" aria-hidden="true"></span>
										</span>
										<div class="text f-fl">
											<p>待发货订单：<span class="num">{{ num }}</span></p>
											<a class="detail" href="{% url 'myorder' %}">查看全部待发货订单 &gt; </a>
										</div>
									</div>
								</div>
							</div>
							<div class="message f-fl col-xs-12 col-sm-12">
								<div class="title clearfix">
									<span class="f-fl">活动消息</span>
									<a class="f-fr detail" href="#">查看全部消息 &gt;</a>
								</div>
								<div id="tableList" class="list J_no_data"><span>您暂无此类消息提醒！</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
    <!-- 主内容区域 E-->
{% endblock %}